      ---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Acerca de</h1>
  <p>En esta web se subirán los proyectos en formato de podcast de Escuela Ideo hechos por los alumnos o profesores del colegio.</p>
  <p>Estos proyectos utilizan el formato de podcast, un formato innovador que se consume mucho hoy en día y hace que estos sean una forma diferente de aprender para quien los hace, pero también para quien los escucha </p>
  <div class links>
  <p> Web del colegio: <a href=>https://www.escuelaideo.edu.es/ </a></p>
</BaseLayout>