      ---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Acerca de...</h1>
  <p>En esta web se subirán los proyectos en formato de podcast de Escuela Ideo hechos por los alumnos del colegio.</p>
  <p>
  <div class links>
  <p> Web del colegio: <a href=>https://www.escuelaideo.edu.es/ </p>
</BaseLayout>