      ---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Blog</h1>
  <h2>Últimas entradas de mi blog</h2>
      <div class="blog-post">
        <div class="title">Entrada 1</div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum pharetra ex in commodo.  </p>
        </div>
        <div class="title">Entrada 2</div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum pharetra ex in commodo.  </p>
        </div>
  </div>
</BaseLayout>