      ---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Contacto</h1>
  <h2>Información de contacto del autor</h2>
  <p>Puedes contactarme a través de los siguientes medios:</p>
  <ul>
    <li>Email: <a href="mailto">alexia.varas@escuelaideo.edu.es</a></li>
    <li>Twitter</li>
    <li>Formulario (por llegar)</li>
  </ul>
</BaseLayout>