---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Contacto</h1>
  <div class= "contactblock">
    <div class="info">
  <h2>Información de contacto del autor</h2>
  <p>Puedes contactarme a través de los siguientes medios:</p>
  <ul>
    <li>Email: <a href="mailto">alexia.varas@escuelaideo.edu.es</a></li>
    <li>Formulario de contacto o para comentarios</li>
  </ul>
    </div>
    <iframe src= "https://forms.gle/5TCrLXDPA7f6Ahxw8" width="640" height="610" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
</BaseLayout>