      ---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<h2>Últimas podcasts incorporados </h2>
  <div class="list-of-podcasts">
    <align:centre></align:centre>
      <div class="podcasts-preview">
      <a href="/podcast">
        <div class="cover-picture"></div>
      </a>
      </div>
      <div class="podcasts-preview">
      <a href="/podcast">
        <div class="cover-picture"></div>
      </a>
      </div>
      <div class="podcasts-preview">
      <a href="/podcast">
        <div class="cover-picture"></div>
      </a>
      </div>
</BaseLayout>