---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<h1>Podcasts de alumnos/profesores</h1>
<div class="list-of-podcasts">
  <div class="podcasts-preview">
  <a href="/podcasto">
    <div class="cover-picture"></div>
  </a>
    <div class="project-name">
    Nombre del proyecto. Asignatura.
    </div>
    <div class=authors>
    Alumnos de (clase) 
    </div>
    <div class="date">
    Fecha.
    </div>
  </div>
  <div class="podcasts-preview">
  <a href="/podcasto">
    <div class="cover-picture"></div>
  </a>
  <div class="project-name">
    Nombre del proyecto. Asignatura.
    </div>
    <div class=authors>
    Alumnos de (clase) 
    </div>
    <div class="date">
    Fecha.
    </div>
  </div>
  <div class="podcasts-preview">
  <a href="/podcasto">
    <div class="cover-picture"></div>
  </a>
  <div class="project-name">
    Nombre del proyecto. Asignatura.
    </div>
    <div class=authors>
    Alumnos de (clase) 
    </div>
    <div class="date">
    Fecha.
    </div>
  </div>
  <div class="podcasts-preview">
  <a href="/podcasto">
    <div class="cover-picture"></div>
  </a>
  <div class="project-name">
    Nombre del proyecto. Asignatura.
    </div>
    <div class=authors>
    Alumnos de (clase) 
    </div>
    <div class="date">
    Fecha.
    </div>
  </div>
  <div class="podcasts-preview">
  <a href="/podcasto">
    <div class="cover-picture"></div>
  </a>
  <div class="project-name">
    Nombre del proyecto. Asignatura.
    </div>
    <div class=authors>
    Alumnos de (clase) 
    </div>
    <div class="date">
    Fecha.
    </div>
  </div>
  <div class="podcasts-preview">
  <a href="/podcasto">
    <div class="cover-picture"></div>
  </a>
  <div class="project-name">
    Nombre del proyecto. Asignatura.
    </div>
    <div class=authors>
    Alumnos de (clase) 
    </div>
    <div class="date">
    Fecha.
    </div>
  </div>
</div>
</BaseLayout>