---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Podcasts de alumnos/profesores</h1>
  <div class="podcasts-preview">
    <div class="podcasts-detail">
      <div class="cover-picture"></div>
      <div class="description">
      Lorem ipsum dolor sit amet.
      </div>
    </div>
  </div>
</BaseLayout>