      ---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<h1>Podcasts de alumnos</h1>
<div class="list-of-podcasts">
  <div class="podcasts-preview">
  <a href="/podcast">
    <div class="cover-picture"></div>
  </a>
    <div class="project-name">
    Proyecto de (asignatura). Nombre del proyecto.
    </div>
    <div class="description">
    Descipción breve.
    </div>
    <div class=authors>
    Hecho por:  
    </div>
  </div>
  <div class="podcasts-preview">
  <a href="/podcast">
    <div class="cover-picture"></div>
  </a>
  <div class="project-name">
    Proyecto de (asignatura). Nombre del proyecto.
    </div>
    <div class="description">
    Descipción breve.
    </div>
    <div class=authors>
    Hecho por:  
    </div>
  </div>
  <div class="podcasts-preview">
  <a href="/podcast">
    <div class="cover-picture"></div>
  </a>
  <div class="project-name">
    Proyecto de (asignatura). Nombre del proyecto.
    </div>
    <div class="description">
    Descipción breve.
    </div>
    <div class=authors>
    Hecho por:  
    </div>
  </div>
  <div class="podcasts-preview">
  <a href="/podcast">
    <div class="cover-picture"></div>
  </a>
  <div class="project-name">
    Proyecto de (asignatura). Nombre del proyecto.
    </div>
    <div class="description">
    Descipción breve.
    </div>
    <div class=authors>
    Hecho por:  
    </div>
  </div>
  <div class="podcasts-preview">
  <a href="/podcast">
    <div class="cover-picture"></div>
  </a>
  <div class="project-name">
    Proyecto de (asignatura). Nombre del proyecto.
    </div>
    <div class="description">
    Descipción breve.
    </div>
    <div class=authors>
    Hecho por:  
    </div>
  </div>
  <div class="podcasts-preview">
  <a href="/podcast">
    <div class="cover-picture"></div>
  </a>
  <div class="project-name">
    Proyecto de (asignatura). Nombre del proyecto.
    </div>
    <div class="description">
    Descipción breve.
    </div>
    <div class=authors>
    Hecho por:  
    </div>
  </div>
  <div class="podcasts-preview">
  <a href="/podcast">
    <div class="cover-picture"></div>
  </a>
  <div class="project-name">
    Proyecto de (asignatura). Nombre del proyecto.
    </div>
    <div class="description">
    Descipción breve.
    </div>
    <div class=authors>
    Hecho por:  
    </div>
  </div>
  <div class="podcasts-preview">
  <a href="/podcast">
    <div class="cover-picture"></div>
  </a>
  <div class="project-name">
    Proyecto de (asignatura). Nombre del proyecto.
    </div>
    <div class="description">
    Descipción breve.
    </div>
    <div class=authors>
    Hecho por:  
    </div>
  </div>
</div>
</BaseLayout>