---
  import MenuLayout from './MenuLayout.astro'
  import FootLayout from './FootLayout.astro'
  import Logo from '../assets/logo.svg'
// src/layouts/BaseLayout.astro
const {title} = Astro.props;
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Alexia" />
    <meta name="keywords" content="HTML, CSS, Astro" />
    <title>Ideopodcasts - {title}</title>
    <link rel="stylesheet" type="text/css" href={Astro.resolve
    ('../styles/base.css')}>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <a href="/">
        <img src={Logo} class='logo'/>
        </a>
      </div>
      <MenuLayout></MenuLayout>
    </div> 
    <div class="main">
    <slot/>
    </div>
    <FootLayout></FootLayout>
  </body>
</html>